<h1> My Reservations </h1>
<% @user.reservations.each do |r| %>
  <li>
    Restaurant name: <%= r.restaurant.name %><br>
    Reserved time: <%= r.time %><br>
    Party Size: <%= r.party_size %>
  </li>

<% end %>
<h1> FIller </h1>